:root {
  --spacing: 1em;
  --icon: 2em;
  --icon-large: 3em;
}

/*=========================================
              RESETS / GENERAL
  =========================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lilita One', cursive;
  font-size: 20px;
  background-color: #171717;
  color: white;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
}

/*=========================================
                  COMPONENTS
  =========================================*/
button {
  background: none;
  border: none;
  font-size: 1em;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  display: block;
  width: 100%;
}

img {
  width: 100%;
}

/* ------- Icon Buttons ------- */
.icon-button {
  width: var(--icon);
  height: var(--icon);
}

/* ------- Text Labels ------- */
.label {
  display: flex;
  align-items: center;
}

.label img {
  width: var(--icon);
  margin-right: 0.5em;
}

/* ------- Info Blocks ------- */
.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

/*=========================================
                ACTIONS
  =========================================*/
#actions {
  display: flex;
  justify-content: center;
}

#actions > * + * {
  margin-left: var(--spacing);
}

/*=========================================
                BRAWLER
  =========================================*/
#team {
  display: grid;
  font-size: 0.6em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--spacing);
  gap: var(--spacing);
}
.brawler {
  position: relative;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--icon-large);
  height: var(--icon-large);
}

/*=========================================
                MAP
  =========================================*/
.map {
  position: relative;
}

/*=========================================
                    MODES
  =========================================*/
#modes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

#modes > * + * {
  margin-top: var(--spacing);
}

.mode label {
  display: block;
  width: var(--icon-large);
  filter: grayscale(100%);
  opacity: 0.25;
  user-select: none;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked ~ label {
  filter: grayscale(0%);
  opacity: 1;
}

/*=========================================
                    RESPONSIVE
  =========================================*/

#actions {
  grid-area: actions;
}
#team {
  grid-area: team;
}
#map {
  grid-area: map;
}
#modes {
  grid-area: modes;
}

body {
  display: grid;
  grid-gap: var(--spacing);
  gap: var(--spacing);
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'actions actions'
    'team team'
    'map modes';
  padding: var(--spacing);
}
