:root {
  --spacing: 1em;
  --icon: 2em;
  --icon-large: 3em;
}

/*=========================================
              RESETS / GENERAL
  =========================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lilita One', cursive;
  font-size: 20px;
  background-color: #171717;
  color: white;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
}

/*=========================================
                  COMPONENTS
  =========================================*/
button {
  background: none;
  border: none;
  font-size: 1em;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  display: block;
  width: 100%;
}

img {
  width: 100%;
}

/* ------- Icon Buttons ------- */
.icon-button {
  width: var(--icon);
  height: var(--icon);
}

/* ------- Text Labels ------- */
.label {
  display: flex;
  align-items: center;
}

.label img {
  width: var(--icon);
  margin-right: 0.5em;
}

/* ------- Info Blocks ------- */
.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

/*=========================================
                ACTIONS
  =========================================*/
#actions {
  display: flex;
  justify-content: center;
}

#actions > * + * {
  margin-left: var(--spacing);
}

button:disabled {
  opacity: .5;
}

/*=========================================
                BRAWLER
  =========================================*/
#teams {
  display: grid;
  font-size: 0.6em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--spacing);
  gap: var(--spacing);
  justify-content: center;
}

#team1, #team2 {
  display: contents;
}

.brawler, .profile {
  position: relative;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--icon-large);
  height: var(--icon-large);
}

/*=========================================
                MAP
  =========================================*/
.map {
  position: relative;
}

/*=========================================
                    MODES
  =========================================*/
#modes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

#modes > * + * {
  margin-top: var(--spacing);
}

.mode label {
  display: block;
  width: var(--icon);
  filter: grayscale(100%);
  opacity: 0.25;
  user-select: none;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked ~ label {
  filter: grayscale(0%);
  opacity: 1;
}

/*=========================================
                    RESPONSIVE
  =========================================*/

#actions {
  grid-area: actions;
}
#map {
  grid-area: map;
}
#teams {
  grid-area: teams;
}
#modes {
  grid-area: modes;
}

body {
  display: grid;
  grid-gap: var(--spacing);
  gap: var(--spacing);
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'actions actions'
    'teams teams'
    'map modes';
  padding: var(--spacing);
}

#teams.many {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: .4rem;
}

@media screen and (min-width: 500px) {
  body { 
    grid-template-areas: 
    'actions actions actions actions'
    'team-1 map map team-2'
    'modes modes modes modes';
    grid-template-columns: auto;
  }
  
  #modes {
    align-items: center;
    flex-flow: row;
  }

  #teams {
    display: contents;
  }

  #teams.many {
    font-size: initial;
  }

  #map {
    justify-self: center;
    align-self: center;
    max-width: 475px;
  }

  #team1, #team2 {
    display: grid;
    justify-self: center;
    align-items: center;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, auto);
    align-content: start;
    gap: var(--spacing);
  }

  #teams many

  .brawler {
    width: 120px;
  }
}

@media screen and (min-width: 900px) {
  #team1, #team2 {
    grid-template-rows: repeat(3, auto);
  }

  .brawler {
    width: 140px;
  }
}

@media screen and (min-width: 1280px) {
  #team1, #team2 {
    grid-template-rows: repeat(3, auto);
  }

  .brawler {
    width: 200px;
  }
}
